<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rocket.Chat Experimental.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>64F484B38E257C68EB5F6530FDDBD9B14A78D00B</string>
				<key>dateExpires</key>
				<string>8/31/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>64F484B38E257C68EB5F6530FDDBD9B14A78D00B</string>
						<key>dateExpires</key>
						<string>8/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>JitsiMeetSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5J497Z83T9</string>
						<key>name</key>
						<string>Irving Valley Management Services, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>64F484B38E257C68EB5F6530FDDBD9B14A78D00B</string>
						<key>dateExpires</key>
						<string>8/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5J497Z83T9</string>
						<key>name</key>
						<string>Irving Valley Management Services, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>64F484B38E257C68EB5F6530FDDBD9B14A78D00B</string>
						<key>dateExpires</key>
						<string>8/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>WebRTC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5J497Z83T9</string>
						<key>name</key>
						<string>Irving Valley Management Services, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>64F484B38E257C68EB5F6530FDDBD9B14A78D00B</string>
						<key>dateExpires</key>
						<string>8/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5J497Z83T9</string>
						<key>name</key>
						<string>Irving Valley Management Services, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>64F484B38E257C68EB5F6530FDDBD9B14A78D00B</string>
						<key>dateExpires</key>
						<string>8/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>5J497Z83T9.rox.chat.reactnative.NotificationService</string>
						<key>com.apple.developer.team-identifier</key>
						<string>5J497Z83T9</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.rox.chat</string>
						</array>
						<key>get-task-allow</key>
						<true/>
						<key>keychain-access-groups</key>
						<array>
							<string>5J497Z83T9.chat.rocket.reactnative</string>
						</array>
					</dict>
					<key>name</key>
					<string>NotificationService.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>af04d257-b6f2-48ee-a6c9-bb56f91bc5da</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: rox.chat.reactnative.NotificationService</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5J497Z83T9</string>
						<key>name</key>
						<string>Irving Valley Management Services, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>64F484B38E257C68EB5F6530FDDBD9B14A78D00B</string>
						<key>dateExpires</key>
						<string>8/31/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>5J497Z83T9.rox.chat.reactnative.ShareExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>5J497Z83T9</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.rox.chat</string>
						</array>
						<key>get-task-allow</key>
						<true/>
						<key>keychain-access-groups</key>
						<array>
							<string>5J497Z83T9.chat.rocket.reactnative</string>
						</array>
					</dict>
					<key>name</key>
					<string>ShareRocketChatRN.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>078de151-a091-43a6-b896-7eca8868e879</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: rox.chat.reactnative.ShareExtension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5J497Z83T9</string>
						<key>name</key>
						<string>Irving Valley Management Services, LLC</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5J497Z83T9.rox.chat.reactnative</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>5J497Z83T9</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.rox.chat</string>
				</array>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>5J497Z83T9.chat.rocket.reactnative</string>
				</array>
			</dict>
			<key>name</key>
			<string>Rocket.Chat Experimental.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>55afdee6-e32b-4fa4-bb7d-02767b29fcba</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: rox.chat.reactnative</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5J497Z83T9</string>
				<key>name</key>
				<string>Irving Valley Management Services, LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
